body {
  font-size: 20px;
}

.board {
    font-size: 20px;
    border: 2px solid black;
    height: 88vh;
    width: 50vw;
    left: 25%;
    position: absolute;
    padding: 2%;
}

.header {
    border: 2px solid blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14%;
    width: 100%;

}

#smiley {
  position: relative;
  border: 1px solid black;
  height: 4rem;
  // left: 45%;
}

.counter {
  background: black;
  border: 2px solid red;
  position: absolute;
  left: 0%;
  width: 20%;
  height: 80%;
}

.timer {
  background: black;
  border: 2px solid magenta;
  position: absolute;
  width: 20%;
  height: 80%;
  right: 0%;
  // top: 0%;
}

body {
  background: lightgrey;
  display:flex;
  justify-content: center;
  // align-items: center;
}

.grid {
    border: 4px solid black;
    position: relative;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.row {
  // border: 2px solid black;
  position: relative;
  display: flex;
  height: 6.25%;
  width: 100%;
  // padding: .5px;
}


.cell{

  display: flex;
  justify-content: center;
  align-items: center;

  background: #c0c0c0;
  border: 1px solid black;
  border-width: 2px 0 0 2px;
  height: 100%;
  width: 6.25%;
  &.covered {
    position: relative;
    background: #c0c0c0;
    border: 3px outset #ececec;
    // border-style: outset;
    border-width: 2px 0 0 2px;
    height: 100%;
    width: 6.25%;
  }
  &:active {
    // background: red;
    // display: block;

    border: inset #ececec;
    width: 5.7%;
  }
}

.bomb {
  
  &.none {
    display: none;
  }
}
